<?xml version="1.0"?>
<!--
/**
 * Blaze_Customergroup Magento JS component
 *
 * @category    Blaze
 * @package     Blaze_Customergroup
 * @author      Blaze Team <vinothkumar@blaze.ws>
 * @copyright   Blaze
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Blaze_Customergroup" setup_version="1.0.0">
    </module>
</config>
